*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header{
    background-color: #00A3FF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

header ul li{
    margin: 2vh 10px;
    display: inline-flex;
}

a{
    text-decoration: none;
    color: white;
    padding: 1vh;
    transition: 0.3s;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    font-weight: bolder;
    border-radius: 1vh;
    color: black;
    background-color: whitesmoke;
}

a:active{
    font-weight: bolder;
    color: white;
    background-color: blueviolet;
}

body{
    color: white;
}

#animation{
    margin-top: 9rem;
    text-align: center;
}


@media screen and (max-width: 320px){
    header ul li{margin: 10px 0;}
    footer{font-size: 2.5vh}
}
@media screen and (max-width: 215px){
    header ul li{margin: 10px 0;}
    a{font-size: 2vh;}
    footer{font-size: 2vh;}
}