@media (min-width: 1200px) {

    .body {
        max-width: 1170px;
    }

}
 
@media (max-width: 640px){

    .body h1{
        margin: 0 1% 0 3%;
    }

    .body{
        margin: 0;
    }

    .box{
        margin: 0 5%;
    }

    .body h1 span{
        margin: 0 3% 0 1%;
        position: absolute;
        right: 0;
        left: 1;
    }

}