@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

:focus{
    outline: none;
}

:root{
    --edu: 'Edu TAS Beginner', cursive;
    --theme: #00a3ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: linear-gradient(270deg, #08AEEA 0%, #2AF598 100%);
}

body{
    padding-bottom: 41px;
}

a{    
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.body{
    margin: 0 7%;
    box-sizing: border-box;
}

hr{
    border: 1px solid black;
}

.body h1 a{
    color: #007fff;
    font-family: var(--edu);
}

.body h1 span a{
    color: #9AF598;
}

.body h1 span{
    margin: 0 7% 0 0;
    position: absolute;
    right: 0;
    left: 1;
}

footer{
    box-shadow: 9px 0 9px black;
    background-color: white;
    padding: 4px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
}

footer a{
    cursor: pointer;
    color: black;
}   